<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-35 p-r-35 p-t-5 p-b-54">
      <div class="login100 p-l p-r p-t-5 p-b-35 ">
        <a [routerLink]="['/login']">
          <span style="font-size: 32px; display:contents;color: rgba(112, 162, 255, 0.856);"
            class="fa fa-arrow-left">
          </span>
        </a>
        <a [routerLink]="['/index']">
          <span style="font-size: 32px; float:right; margin-left: 50%; color: rgba(112, 162, 255, 0.856);"
            class="fa fa-close">
          </span>
        </a>
      </div>
      <span class="login100-form-title p-b-30">
        Sign Up
      </span>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="wrap-input100">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="wrap-input100">
          <label for="email">Email</label>
          <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Please enter a valid email like example@email.com</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="wrap-input100">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="wrap-input100">
          <label for="confPassword">Confirm Password</label>
          <input type="password" formControlName="confPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confPassword.errors }" />
          <div *ngIf="submitted && f.confPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confPassword.errors.required">Password is required</div>
              <div *ngIf="f.confPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="container-login100-form-btn m-t-55">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" class="login100-form-btn">Next ></button>
          </div>
        </div>
      </div>
    </form>

    <div class="form-group">
      <div class="container-login100-form-btn m-t-55">
        <div class="wrap-login100-form-btn">
          <div class="login100-form-bgbtn"></div>
          <button type="submit" (click) = "json()" class="login100-form-btn">JSON</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>



