<!-- Request button pannel -->
<div class="publications-modal modal fade" id="opened-request-button" tabindex="-1" role="dialog" aria-labelledby="publicationsModal6Label" aria-hidden="true">
    <div id="example" class="modal-dialog modal-xl" style="width: 40%;" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">
        <i class="fas fa-times"></i>
      </span>
    </button>
            <div class="modal-body text-center">
                <div class="container">
                    <h3 style="width: 100%;color: #2c3e50 ;text-align: center;">Request item</h3>
                    <!-- Icon Divider -->
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                    </div>
                    <form method="post" action="/sendItemRequest">
                        <select name="typeOfItem" style="width: 80%;font-size: 25px;">
                          <option>-- Select one --</option>
                          <option>Ingredient</option>
                          <option>Category</option>
                          <option>Cooking style</option>
                        </select>
                        <input type='text' name="content" placeholder='Value' class="btn btn-outline-primary" style="margin-top: 20px;width: 80%;height: 80px;font-size: 50px;">
                        <input type='submit' value='Send' class="btn btn-primary" style="margin-top: 40px;width: 50%;height: 60%;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
