<p>
  user-search works!
</p>
<!--<div class="col-md-12">

      <div>
        <h1 style="color: rgba(0, 0, 0, 0.7);">Your search did not match any users.</h1>
        <h3>Try it with another one!</h3>
      </div>

        <div class="card mb-2">
          <div class="row" style="margin: 20px;">
            <div class="col-4" style="text-align: center; align-self: center; overflow-wrap: break-word;">
              <h5>{{info}}&nbsp;</h5>
            </div>
            <div class="col-4" style="text-align: center; align-self: center;">
              <h5>{{name}}&nbsp;{{surname}}</h5>
              <p><a href="/users/{{id}}">@{{username}}</a></p>
            </div>
            <img class="d-flex mr-3 rounded-circle profile-border\" src="/temp/avatars/image-{{id}}.jpg" style="align-self: center; width: 100px; height: 100px;">
          </div>
        </div>

      <h1 style="color: rgba(0, 0, 0, 0.7);">Your search did not match any users.</h1>
      <h3>Try it after logging in!</h3>

          <h1 style="color: rgba(0, 0, 0, 0.7);">Users found, but..</h1>
          <h3>Try it after logging in!</h3>


</div>
 /.row -->
