<div class="container" style="margin-top: 10%;">
    <h1 class="mt-4 mb-3">404
        <small>Page Not Found</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <!-- <a [routerLink]="['/index']">Home</a> -->
        </li>
        <li class="breadcrumb-item active">404</li>
    </ol>
    <div class="jumbotron">
        <h3>The page you're looking for could not be found. Here are some helpful links to get you back on track:</h3>
        <ul>
            <!-- <li>
                <a [routerLink]="['/']" style="font-size:28px;">Home</a>
            </li>
            <li>
                <a [routerLink]="['/login']" style="font-size:28px;">Login</a>
            </li>
            <li>
                <a [routerLink]="['/ranking']" style="font-size:28px;">Ranking</a>
            </li>
            <li>
                <a [routerLink]="['/search']" style="font-size:28px;">Search</a>
            </li> -->
        </ul>
    </div>
</div>