<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-35 p-r-35 p-t-5 p-b-54">
            <div class="login100 p-l p-r p-t-5 p-b-35 ">
                <a [routerLink]="['/signUp']">
                    <span style="font-size: 32px; display:contents;color: rgba(112, 162, 255, 0.856);" class="fa fa-arrow-left">
          </span>
                </a>
                <a [routerLink]="['/index']">
                    <span style="font-size: 32px; float:right; margin-left: 50%; color: rgba(112, 162, 255, 0.856);" class="fa fa-close">
          </span>
                </a>
            </div>
            <span class="login100-form-title p-b-30">
        Sign Up
      </span>
            <div>

                <form [formGroup]="registerForm2" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="wrap-input100">
                            <span class="label-input100" for="name">Name</span>
                            <input class="input100" type="text" formControlName="name" class="form-control" placeholder="Name" style="padding-left: 33px;" />
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="wrap-input100">
                            <span class="label-input100" for="surname">Surname</span>
                            <input class="input100" type="text" formControlName="surname" class="form-control" placeholder="Surname" style="padding-left: 35px;" />
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>

                    <div class="flex-col-c">
                        <p>Complete your profile</p>
                        <label class="switch">
              <input type="checkbox" id="completeProfile" (click) =" onSwitch()">
              <span class="slider round"></span>
            </label>
                    </div>

                    <div class="login100 p-l p-r p-t-25 " [hidden]="activate === false">
                        <!-- Load image and select box -->
                        <!--Avatar-->
                        <div class="form-group">
                            <div>
                                <div style="position: relative;">
                                    <img id="preview-img-file" style="width:125px; height:125px; border-radius:50%; object-fit: cover; margin-left: 30%;" [src]="URL" />
                                    <div style="position: absolute;width: 100%;">
                                        <label for="file-input" class="btn-outline-secondary" style="border-radius:0.5rem;margin-left:34% ; border:1px solid rgb(197, 49, 202); text-align:center; padding:0; right:0; width:30%; cursor:pointer">
                                            <input type="file" (change)="onFileChanged($event)" #fileInput id="file-input" value="assets/images/icons/avatar.jpg" hidden type="file" for="fileAvatar" accept=".jpg, .jpeg" />
                                            <i class="fa fa-camera" styles="object-fit:cover; padding:5px"></i>
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="wrap-input100" style="margin-top: 10%;">
                            <label style="margin-left: 10px;">Allergens</label>
                            <select formControlName="allergen" class="form-control">
              <option>Select an allergen..</option>
              <option *ngFor="let a of allergens" value="{{a?.allergen}}">
                {{a?.allergen}}
              </option>
            </select>
                        </div>


                    </div>

                    <!-- Submit button -->
                    <div class="container-login100-form-btn m-t-55">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">Register</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>