<h1> {{title}} </h1>

<!-- HEADER (in app.component.html better)-->

<!-- Trending Section -->

<!-- Recent Section -->

<!-- Buttons Add, Search and Ajax -->

    <hr width="80%">
    <!-- Ajax load more button -->
    <div class="loadmore-container">
        <div>
            <img id="loadmore1" class="loadmore-button" src="../../assets/images/icons/loadmore_unpressed.png" alt="" />
            <img id="loadmore2" class="loadmore-button" src="../../assets/images/icons/spinner.gif" alt="" hidden />
        </div>
    </div>

    <!-- search button-->
    <div id="open-add-button" class='flotating-button'>
        <div class="publications-item mx-auto" data-toggle="modal" data-target="#opened-add-button" id="load-recipe-btn"
            style="width: max-content">
            <img src='../../assets/images/icons/flotating_button2.png' width="50%" style="height: 50px; width: 50px;" />
        </div>
    </div>

    <!-- search button-->
    <div id="open-search-button" class="search-button" data-toggle="modal" data-target="#opened-search-button">
        <div class="publications-item mx-auto" style="width: max-content">
            <div class="search-btn fas fa-area-chart" href="#"></div>
        </div>
    </div>
