<!-- HEADER (in app.component.html better)-->

    <!-- Trending Section -->
    <trending-recipes></trending-recipes>
    <!-- Recent Section -->
    <recent-recipes></recent-recipes>
    <!-- Buttons Add, Search and Ajax -->

    <!-- search button-->
    <div id="open-add-button" class='flotating-button'>
        <div class="publications-item mx-auto" data-toggle="modal" data-target="#opened-add-button" id="load-recipe-btn" style="cursor: pointer;">
            <img src='../../assets/images/icons/flotating_button2.png' width="50%" style="height: 50px; width: 50px;" />
        </div>
    </div>

    <!-- search button-->
    <div id="open-search-button" class="search-button" data-toggle="modal" data-target="#opened-search-button">
        <div class="publications-item mx-auto" style="width: max-content">
            <div class="search-btn fas fa-search"></div>
        </div>
    </div>
