<!-- Trending Section -->
<div style="width: 100%;height: 500px;">
    <trending-recipes></trending-recipes>
</div>

<!-- Recent Section -->
<recent-recipes></recent-recipes>

<!-- search button-->
<div *ngIf="authService.isLogged" id="open-add-button" class='flotating-button'>
    <div class="publications-item mx-auto" data-toggle="modal" data-target="#opened-add-button" id="load-recipe-btn" style="cursor: pointer;">
        <img src='../../assets/images/icons/flotating_button2.png' width="50%" style="height: 50px; width: 50px;" />
    </div>
</div>

<!-- search button-->
<div id="open-search-button" class="search-button" data-toggle="modal" data-target="#opened-search-button">
    <div class="publications-item mx-auto" style="width: max-content">
        <div class="search-btn fas fa-search"></div>
    </div>
</div>

<!-- Buttons Add, Search and Ajax -->
<popup-filter></popup-filter>
<popup-add *ngIf="authService.isLogged"></popup-add>