<!-- Page Request  -->
<div id="request-div" class="p-4 p-md-5 pt-5" style="padding:0 !important;width:100%;height:100%;" hidden>
    <!-- Masthead -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Subheading -->
            <div class="profile-about-separator">
                <!-- publications Section Heading -->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">User's requests</h2>
                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line" style="background-color: black;"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star" style="color: black;"></i>
                    </div>
                    <div class="divider-custom-line" style="background-color: black;"></div>
                </div>
            </div>
        </div>
    </header>
    <!-- Publications Section -->
  <section class="page-section publications" id="publications">
    <div class="container">
      <!-- Icon Divider -->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
              <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
      </div>
      <div class="scrolling container" style="height: 100%; width: 100%;background-color: rgba(0, 0, 0, 0.2);">
          <table style="text-align: center;">
              <tr style="line-break: auto;">
                  <th>
                      <p class="text-center text-uppercase text-secondary mb-0">User</p>
                  </th>
                  <th>
                      <p class="text-center text-uppercase text-secondary mb-0">Type</p>
                  </th>
                  <th>
                      <p class="text-center text-uppercase text-secondary mb-0">Value</p>
                  </th>
                  <th>
                      <p class="text-center text-uppercase text-secondary mb-0">Action</p>
                  </th>
              </tr>
          </table>
          <hr>
          <!-- Request x -->
          <div *ngFor="let request of requests; index as i">
          <form class="row" style="align-items: center;" id="formItemRequest-index">
              <div class="col-2">
                  <img class="d-flex mr-3 rounded-circle profile-border" [src]="avatars[i]" alt="" style="width:100px; height: 100px; object-fit: cover;">
              </div>
              <div class="col-2">
                  <h6 style="text-align:left;">{{request?.username.name}}&nbsp;{{request?.username.surname}}</h6>
                  <a style="text-align:left; cursor:pointer;" (click) = "visitProfile(request?.username.id)">@{{request?.username.username}}</a>
              </div>
              <div class="col-3">
                  <h6 class="btn-xl" type="text" style="text-align:left;">{{request?.typeOfRequest}}</h6>
                  <input name="typeOfItemRequest" value="typeOfRequest" hidden />
              </div>
              <div class="col-3">
                <div *ngIf = "request?.itemExists">
                  <h6 class="btn-xl" style="text-align:left; color: red;">
                    {{request?.ingredientContent}}{{request?.categoryContent}}{{request?.cookingStyleContent}}</h6>
                  <input #itemContent name="itemContent" value="{{request?.ingredientContent}}{{request?.categoryContent}}{{request?.cookingStyleContent}}" hidden />
                  <p>{{request?.typeOfRequest}}&nbsp;"{{request?.ingredientContent}}{{request?.categoryContent}}{{request?.cookingStyleContent}}"&nbsp;already exists!
                  </p>
                </div>
                <div *ngIf = "!request?.itemExists">
                  <h6 class="btn-xl" style="text-align:left; color: green;">
                    {{request?.ingredientContent}}{{request?.categoryContent}}{{request?.cookingStyleContent}}</h6>
                <input #itemContent name="itemContent" value="{{request?.ingredientContent}}{{request?.categoryContent}}{{request?.cookingStyleContent}}" hidden />
                </div>
              </div>
              <div class="col-2" style="display: flex; height:fit-content;">
                <!-- No soy capaz de coger más que el primer valor solo!!!!!!!!!!!!!!! -->
                  <button type="submit" value="accept" class="btn btn-outline-primary fa fa-check" (click) = "acceptRequest();" style="margin-right: 5%;border-radius: 50%;"></button>
                  <button type="submit" name="action" value="decline" class="btn btn-outline-danger fa fa-remove" style="border-radius: 50%;"></button>
                  <input name="id_request" value="id" type="hidden">
              </div>
          </form>
          <hr>
          </div>
      </div>
      <hr>
    </div>
  </section>
</div>
