<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-35 p-r-35 p-t-5 p-b-54">
      <div class="login100 p-l p-r p-t-5 p-b-35 ">
        <a [routerLink]="['/login']">
          <span style="font-size: 32px; display:contents;color: rgba(112, 162, 255, 0.856);"
            class="fa fa-arrow-left">
          </span>
        </a>
        <a [routerLink]="['/index']">
          <span style="font-size: 32px; float:right; margin-left: 50%; color: rgba(112, 162, 255, 0.856);"
            class="fa fa-close">
          </span>
        </a>
      </div>
      <span class="login100-form-title p-b-30">
        Sign Up
      </span>

      <div>
      <p class="form-heading">{{ stepItems[activeStepIndex].label }}</p>
      <ng-container
      *ngFor="let form of masterForm; let i = index; trackBy: trackByFn"
    >
      <form action="" [formGroup]="masterForm[i]"
       *ngIf="i === activeStepIndex || masterForm.length === 1"
      >


        <div class="">
          <div class="fields-container">
            <div
              *ngFor="let field of formFields[i]; trackBy: trackByFn"
              [ngSwitch]="currentFormContent[i][field].type"
            >
              <div class="full-width">
                <label class="field-label text-bold" [for]="field">{{ field | formatTitle }}</label>

                <ng-container *ngSwitchCase="'textarea'">
                  <textarea
                    [id]="field"
                    [formControlName]="field"
                    [placeholder]="currentFormContent[i][field].placeholder"></textarea>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <input
                    [type]="currentFormContent[i][field].type"
                    [formControlName]="field"
                    [id]="field"
                    [placeholder]="currentFormContent[i][field].placeholder"
                  />
                </ng-container>
              </div>

            </div>
          </div>

            <div class="form-group">
              <div class="container-login100-form-btn m-t-55">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button type="button" [disabled]="activeStepIndex === stepItems.length - 1 || masterForm[i].invalid" (click)="goToStep('next')" class="login100-form-btn">
                    Next ></button>
                </div>
              </div>
            </div>
        </div>
      </form>
    </ng-container>
    </div>
    </div>
  </div>
</div>
