<div>
    <video autoplay muted loop id="myVideo"
      style="position: fixed;z-index: -1; top: 10%; opacity:0.6; width: 100%; object-fit: cover;">
      <source src="../../assets/images/backgrounds/index.mp4" type="video/mp4">
    </video>
    <div class="container">
      <!-- Recent recipes -->
      <h4>{{title}}</h4>
      <div id="recipes-container">
        <div *ngFor="let recipe of recipes">
          {{recipe?.title}}
        <br>
          {{recipe?.description}}
        </div>
      </div>
    </div>
</div>
