<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Instarecipes</title>
  <!-- Images and icons-->
  <link rel="icon" type="image/png" href="images/icons/instarecipes.png" />

  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

  <!-- jquery -->
  <script src="../vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="../css/modern-business.css" rel="stylesheet">
  <link href="../css/freelancer.css" rel="stylesheet">

  <!-- load recipes with AJAX and jQuery-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    function hover(x) {
      x.style.color = "white";
      return false;
    }
    function normal(y) {
      y.style.color = "rgba(159, 193, 255, 0.726)";
      y.style.backgroundColor = none;
      return false;
    }
  </script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container" style="margin-left: 30px;">
      <div id="img-navbar-container">
        <img class="img-navbar" src="images/icons/instarecipes.png" alt="">
      </div>
      <a class="navbar-brand js-scroll-trigger" href="/" style="font-family: 'Pacifico';">&nbsp;Instarecipes</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" style="font-size: x-large;"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="margin-right: 20%;">
          <li class="nav-item col-2" style="max-width: 100%;">
            <a class="nav-link js-scroll-trigger" href="#header-section"><i onmouseover="hover(this)"
                onmouseout="normal(this)" class="fas fa-home" style="font-size: xx-large; color: rgba(159, 193, 255, 0.726)"></i></a>
          </li>
          <li class="nav-item col-2" style="max-width: 100%;">
            {{#logged}}
            <a class="nav-link" href="profile"><i class="fas fa-user" style="font-size: xx-large;"></i></a>
            {{/logged}}
          </li>
          <li class="nav-item col-2" style="max-width: 100%;">
            <a class="nav-link" href="ranking"><i class="fas fa-trophy" style="font-size: xx-large;"></i></a>
          </li>
          <li class="nav-item col-2" style="max-width: 100%;">
            <div class="min-search" id="min-search">
              <a class="nav-link" href="#"><i class="fa fa-search" style="font-size: xx-large;"></i></a>
            </div>
          </li>
          {{^logged}}
          <li class="nav-item col-2" style="max-width: 100%;">
            <div class="login-logo" style="color: black; position: relative;">
              <a class="nav-link" href="login"><i class="fa fa-user-circle"
                  style="font-size: xx-large; margin-left: 7%;"></i></a>
            </div>
          </li>
          {{/logged}}
        </ul>

      <form class="example" action="/searchBar" method="POST">
          <input type="text" placeholder="Search.." name="search"/>
          <button type="submit" style="background-color: rgba(159, 193, 255, 0.726);">
            <i class="fa fa-search" ></i>
            <input type="hidden" name="_csrf" value="{{token}}"/>
          </button>
      </form>

      </div>
    </div>
    <div class="login-container">
      {{#logged}}
      <form action="/logout" method="post">
        <button type="submit" class="nav-link nav-log btn-dark"
          style="color:white;font-weight: normal;font-size: 15px;">Logout</button>
        <input type="hidden" name="_csrf" value="{{token}}" />
      </form>
      {{/logged}}
      {{^logged}}
      <a class="nav-link nav-log" href="login" style="font-weight: normal;font-size: 15px;">Login / Sign Up</a>
      {{/logged}}
    </div>
  </nav>

  <!-- Carousel-->
  <header id="header-section" style="margin-top: 3%;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="trending-topic-text">
        <h1 class="page-section-heading text-center text-uppercase mb-0">Trending</h1>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        {{#logged}}
          {{#filteredRecipe}}
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div id="carruselDeportivo{{-index}}" class="carousel-item active">
              <img src="/temp/recipes/image-{{id}}.jpg" class="img-blur" width="100%">
              <div class="trending-pub">
                <div class="row" style="height: 100%; margin-left: 0; margin-right: 0;">
                  <div class="col-lg-1" style="align-self: center;border-right:3px solid rgba(0, 0, 0, 0.2); @media only screen and (max-width: 800px){
                    display:none;
                    }">
                    <img class="d-flex mr-3 rounded-circle profile-border" width="50%" src="/temp/avatars/image-{{username.id}}.jpg" alt="">
                  </div>
                  <div class="col-md-4">
                    <h3>Introduction</h3>
                    <p>{{description}}</p>
                    <a class="btn btn-primary" href="/recipes/{{id}}">Read
                      <span class="glyphicon glyphicon-chevron-right">
                      </span>
                    </a>
                  </div>
                  <div class="col-md-7" style="height: inherit; padding-left: 0; padding-right: 0;">
                    <a href="#">
                      <img class="rounded mb-3 mb-md-0" src="/temp/recipes/image-{{id}}.jpg"
                        style="object-fit: cover;" height="100%" width="100%" alt="">
                    </a>
                    <div class="likes-comments-top-right">
                      <div class="row" style="margin-right: 0;margin-left: 0;">
                        <div class="col-3">
                          <img class="icon-fluid" src="images/icons/like_pressed.png" alt="">
                        </div>
                        <div class="col-3">
                          <p class="icon-fluid pub-date-text">{{likes}}</p>
                        </div>
                        <div class="col-3">
                          <img class="icon-fluid" src="images/icons/dialogue.png" alt="">
                        </div>
                        <div class="col-3">
                          <p class="icon-fluid pub-date-text">{{n_comments}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h3>{{title}}</h3>
                <p>Trending No. {{-index}}</p>
              </div>
            </div>
          {{/filteredRecipe}}
        {{/logged}}
        {{^logged}}
          {{#notTrending}}
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div id="carruselDeportivo{{-index}}" class="carousel-item active">
              <img src="/temp/recipes/image-{{id}}.jpg" class="img-blur" width="100%">
              <div class="trending-pub">
                <div class="row" style="height: 100%; margin-left: 0; margin-right: 0;">
                  <div class="col-lg-1" style="align-self: center;border-right:3px solid rgba(0, 0, 0, 0.2); @media only screen and (max-width: 800px){
                    display:none;
                    }">
                    <img class="d-flex mr-3 rounded-circle profile-border" width="50%" src="/temp/avatars/image-{{username.id}}.jpg" alt="">
                  </div>
                  <div class="col-md-4">
                    <h3>Introduction</h3>
                    <p>{{description}}</p>
                    <a class="btn btn-primary" href="/recipes/{{id}}">Read
                      <span class="glyphicon glyphicon-chevron-right">
                      </span>
                    </a>
                  </div>
                  <div class="col-md-7" style="height: inherit; padding-left: 0; padding-right: 0;">
                    <a href="#">
                      <img class="rounded mb-3 mb-md-0" src="/temp/recipes/image-{{id}}.jpg"
                        style="object-fit: cover;" height="100%" width="100%" alt="">
                    </a>
                    <div class="likes-comments-top-right">
                      <div class="row" style="margin-right: 0;margin-left: 0;">
                        <div class="col-3">
                          <img class="icon-fluid" src="images/icons/like_pressed.png" alt="">
                        </div>
                        <div class="col-3">
                          <p class="icon-fluid pub-date-text">{{likes}}</p>
                        </div>
                        <div class="col-3">
                          <img class="icon-fluid" src="images/icons/dialogue.png" alt="">
                        </div>
                        <div class="col-3">
                          <p class="icon-fluid pub-date-text">{{n_comments}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h3>{{title}}</h3>
                <p>Trending No. {{-index}}</p>
              </div>
            </div>
          {{/notTrending}}
        {{/logged}}
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          document.getElementById("carruselDeportivo2").classList.remove("active");
          document.getElementById("carruselDeportivo3").classList.remove("active");
        });
      </script>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <h3 class="my-4">Recent user's recipes</h3>
    <!-- Recent recipes -->
    <div id="recipes-container">
    </div>

    <hr width="80%">
    <!-- Ajax load more button -->
    <div class="loadmore-container">
      <div>
        <img id="loadmore1" class="loadmore-button" src="../images/icons/loadmore_unpressed.png" alt="" />
        <img id="loadmore2" class="loadmore-button" src="../images/icons/spinner.gif" alt="" hidden />
      </div>
    </div>

    {{#logged}}
    <!-- add recipe button -->
    <div id="open-add-button" class='flotating-button'>
      <div class="publications-item mx-auto" data-toggle="modal" data-target="#opened-add-button" id="load-recipe-btn"
        style="width: max-content">
        <img src='images/icons/flotating_button2.png' width="50%" style="height: 50px; width: 50px;" />
      </div>
    </div>
    {{/logged}}

    <!-- search button-->
    <div id="open-search-button" class="search-button" data-toggle="modal" data-target="#opened-search-button">
      <div class="publications-item mx-auto" style="width: max-content">
        <div class="search-btn fas fa-search" href="#"></div>
      </div>
    </div>
   
    <!-- Search button pannel -->
    <div class="publications-modal modal fade" id="opened-search-button" tabindex="-1" role="dialog"
      aria-labelledby="publicationsModal6Label" aria-hidden="true">
      <div id="filtered-search" class="modal-dialog modal-xl" role="document" style="width: 90%;">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="fas fa-times"></i>
              </span>
            </button>
            <div class="modal-body text-center">
              <div class="container">
                <!--<div class="col-lg-12">-->
                <!-- publications Modal - Title -->
                <h2 class="publications-modal-title text-secondary text-uppercase mb-0">Filtered Search</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <img src='../images/icons/orange-search.png' width="50%" style="height: 50px; width: 50px;" />
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <form action="/search" method="post">
                  <div class="row">
                    <!-- INGREDIENT FILTER -->
                    <div class="col-6">
                      <h3 class="underlined-text">INGREDIENTS</h3>
                      <div class="row">
                        <table id="IngredientsTable">
                          <tr>
                            <td>
                            <!--"Ingredient-Name"-->
                              <input name="ingredients" type="text" list="ingredientslist" placeholder="Select an ingredient.." style="width: 90%; border-radius: 0.5rem; border-width: 0.5px;" onkeypress="return false;">
                              <datalist id="ingredientslist">
                                {{#ingredientsList}}
                                <option value="{{ingredient}}">{{ingredient}}</option>
                                {{/ingredientsList}}
                              </datalist>
                            </td>
                            <td>
                              <button id="Ing-delete-button" type="button" class="btn-delete-line"
                                style="color: white; font-size: inherit;" onclick="delRowIngredient(this)">
                                <span aria-hidden="true">
                                  <i class="fas fa-trash"></i>
                                </span>
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <hr>
                      <!-- add and delete ingredients buttons -->
                      <button id="Ing-add-button" type="button" class="btn-add-ingredient">
                        <span aria-hidden="true">
                          <i class="fa fa-plus add" aria-hidden="true" style="color: white; font-size: inherit;"></i>
                          <h6 class="text">ADD</h6>
                        </span>
                      </button>
                      <button id="Ing-delete-all-button" type="button" class="btn-delete-ingredients">
                        <span aria-hidden="true">
                          <i class="fas fa-trash" aria-hidden="true" style="color: white; font-size: inherit;"></i>
                          <h6 class="text">DELETE ALL</h6>
                        </span>
                      </button>
                      <hr>
                    </div>
                    <!-- COOKING STYLE FILTER -->
                    <div class="col-6">
                      <h3 class="underlined-text">COOKING STYLE</h3>
                      <div class="row">
                        <table id="CookingStyleTable">
                          <tr>
                            <td>
                              <input name="cookingStyles" type="text" list="cookingStyleslist" placeholder="Select a category.." style="width: 90%; border-radius: 0.5rem;border-width: 0.5px;" onkeypress="return false;">
                              <datalist id="cookingStyleslist">
                                {{#cookingStylesList}}
                                <option value="{{cookingStyle}}">{{cookingStyle}}</option>
                                {{/cookingStylesList}}
                              </datalist>
                            </td>
                            <td>
                              <button id="CSy-delete-button" type="button" class="btn-delete-line"
                                style="color: white;font-size: inherit;" onclick="delRowCookingStyle(this)">
                                <span aria-hidden="true">
                                  <i class="fas fa-trash"></i>
                                </span>
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <hr>
                      <!-- add and delete categories-->
                      <button id="CSy-add-button" type="button" class="btn-add-category">
                        <span aria-hidden="true">
                          <i class="fa fa-plus add" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                          <h6 class="text">ADD</h6>
                        </span>
                      </button>
                      <button ID="CSy-delete-all-button" type="button" class="btn-delete-categories">
                        <span aria-hidden="true">
                          <i class="fas fa-trash" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                          <h6 class="text">DELETE ALL</h6>
                      </button>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <!-- CATEGORY FILTER -->
                    <div class="col-6">
                      <h3 class="underlined-text">CATEGORIES</h3>
                      <div class="row">
                        <table id="CategoriesTable">
                        <tr>  
                          <td>
                            <input name="categories" type="text" list="categorieslist" placeholder="Select a category.." style="width: 90%; border-radius: 0.5rem;border-width: 0.5px;" onkeypress="return false;">
                            <datalist id="categorieslist">
                              {{#categoriesList}}
                              <option value="{{category}}">{{category}}</option>
                              {{/categoriesList}}
                            </datalist>
                          </td>
                          <td>
                            <button id="Cat-delete-button" class="btn-delete-line" style="color: white;font-size: inherit;" onclick="delRowCategory(this)">
                              <span aria-hidden="true">
                                <i class="fas fa-trash"></i>
                              </span>
                            </button>  
                          </td> 
                        </tr>
                        </table>
                      </div>
                      <hr>
                      <!-- add and delete categories-->
                      <button id="Cat-add-button" type="button" class="btn-add-category">
                        <span aria-hidden="true">
                          <i class="fa fa-plus add" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                          <h6 class="text">ADD</h6>
                        </span>
                      </button>
                      <button id="Cat-delete-all-button" type="button" class="btn-delete-categories">
                        <span aria-hidden="true">
                          <i class="fas fa-trash" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                          <h6 class="text">DELETE ALL</h6>
                        </span>
                      </button>
                    </div>
                    <!-- ALLERGEN FILTER -->
                    <div class="col-6">
                      <h3 class="underlined-text">FREE ALLERGENS</h3>
                      <div class="row">
                        <table id="AllergensTable">
                          <tr>
                            <td>
                              <input name="allergens" type="text" list="allergenslist" placeholder="Select an allergen.." style="width: 90%; border-radius: 0.5rem; border-width: 0.5px;" onkeypress="return false;">
                              <datalist id="allergenslist">
                                {{#allergensList}}
                                <option value="{{allergen}}">{{allergen}}</option>
                                {{/allergensList}}
                              </datalist>
                            </td>
                            <td>
                              <button id="Alg-delete-button" type="button" class="btn-delete-line"
                                style="color: white;font-size: inherit;" onclick="delRowAllergen(this)">
                                <span aria-hidden="true">
                                  <i class="fas fa-trash"></i>
                                </span>
                              </button>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <hr>
                      <!-- add and delete allergens-->
                      <button id="Alg-add-button" type="button" class="btn-add-allergen">
                        <span aria-hidden="true">
                          <i class="fa fa-plus add" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                          <h6 class="text">ADD</h6>
                        </span>
                      </button>
                      <button id="Alg-delete-all-button" type="button" class="btn-delete-allergens">
                        <span aria-hidden="true">
                          <i class="fas fa-trash" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                          <h6 class="text">DELETE ALL</h6>
                        </span>
                      </button>
                    </div>
                  </div>
                  <hr>
                  <!--</div>-->
                  <button type="submit" class="btn btn-primary">
                    <h6 class="text">Go!</h6>
                    <img class="img-fluid rounded" src="../images/icons/pizza-go.png" alt="" width="50%"
                      style="height: 50px; width: 50px;">
                    <input type="hidden" name="_csrf" value="{{token}}" />
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add button pannel -->
    <div class="publications-modal modal fade" id="opened-add-button" tabindex="-1" role="dialog"
      aria-labelledby="publicationsModal6Label" aria-hidden="true">
      <div id="example" class="modal-dialog modal-xl" style="width: 70%;" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
          <div class="modal-body text-center">
            <div class="container">
              <!-- publications Modal - Title -->
              <h2 class="publications-modal-title text-secondary text-uppercase mb-0">Add Recipe</h2>
              <!-- Icon Divider -->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
              <form method="post" action="/" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-8" style="justify-content: center; height: 100%;">
                    <!-- Recipe section -->
                    <div class="wrap-input50 m-b-23" style="text-align: initial;">
                      <h3 class="underlined-text">Recipe name*</h3>
                      <div id="titleCountChar"></div>
                      <input onkeyup="titleCountChar(this)" class="input100" type="text" name="title"
                        placeholder="Recipe name"
                        style="padding:10px;width: 100%;border-radius: 0.5rem;border:1px solid rgba(0, 0, 0, 0.3)"
                        required>
                    </div>
                    <hr>
                    <!-- Introduction section -->
                    <div class="wrap-input50 m-b-23" style="text-align: initial;">
                      <h3 class="underlined-text">Introduction*</h3>
                      <div id="introCountChar"></div>
                      <textarea onkeyup="introCountChar(this)" type="text" name="description"
                        style="padding:10px;width: 100%;height: 100px;border-radius: 0.5rem;border:1px solid rgba(0, 0, 0, 0.3)"
                        placeholder="Type a introduction here.." required></textarea>
                    </div>
                    <img id="preview-img-file" src="" class="img-blur2" style="object-fit:cover;height:100px;width:100%;border-radius: 0.5rem;" hidden/>
                    <div>
                      <p id="no-such-image">No such image selected yet</p>
                      <label for="file-input" class="btn-outline-primary" style="border-radius:0.5rem;
                          border:1px solid rgb(23, 162, 184); align-self:center;z-index: 1050;
                          text-align:center;padding:0;right:0;width:25%;position:absolute;cursor:pointer">
                        <input id="file-input" hidden type="file" name="imageFile" accept=".jpg, .jpeg"/>
                        <i class="fa fa-camera" styles="object-fit:cover;padding:5px"></i>
                      </label>
                    </div>
                    <!-- Here will go all other inputs images !! -->
                    <div id="divImageSteps" hidden></div>
                    <input id="withImage" value="" name="withImage" hidden/>
                    <input type="text" id="stepsString" name="stepsString" hidden/>
                    <fieldset id="steps-form" class="nav-item dropdown wrap-input50 m-b-23"
                      style="text-align: initial;">
                      <h3>Step 1*</h3>
                      <hr>
                      <div id="stepCountChar"></div>
                      <textarea wrap="soft" id="firstStep" name="firstStepString" onkeyup="stepCountChar(this)" placeholder="A recipe must have at least 1 step :D"
                        style="padding:10px;width: 100%;height: 150px;border-radius: 0.5rem;border:1px solid rgba(0, 0, 0, 0.3)" required></textarea>
                      <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </fieldset>
                    <hr>
                    <div id="add-step" class="btn btn-dark" style="width: 100%; border-radius: 0.8rem;background-color: teal;cursor: pointer;">
                      <i class="fa fa-plus add" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                    </div>
                  </div>
                  <div class="col-4" style="height: 100%;">
                    <!-- Ingredients section -->
                    <h3 class="underlined-text">Ingredients*</h3>
                    <p>Select ingredients:</p>
                    <div id="add-ingredient" class="btn btn-primary"
                      style="width: 100%; border-radius: 0.8rem; cursor: pointer;">
                      <i class="fa fa-plus add" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                    </div>
                    <input id="ingredientsList" value="{{#ingredientsList}}{{ingredient}},{{/ingredientsList}}" hidden/>
                    <input id="ingredientsString" name="ingredientsString" hidden/>
                    <fieldset id="ingredients-form" class="nav-item dropdown scrolling" style="height: 300px;">
                    </fieldset>
                    <hr>
                    <!-- Categories section -->
                    <h3 class="underlined-text">Categories*</h3>
                    <p>Select categories:</p>
                    <div id="add-category" class="btn btn-secondary"
                      style="width: 100%; border-radius: 0.8rem;background-color: #343a40; cursor: pointer;">
                      <i class="fa fa-plus add" aria-hidden="true" style="color: white;font-size: inherit;"></i>
                    </div>
                    <input id="categoriesList" value="{{#categoriesList}}{{category}},{{/categoriesList}}" hidden/>
                    <input id="categoriesString" name="categoriesString" hidden/>
                    <fieldset id="category-form" class="nav-item dropdown scrolling" style="height: 100px;" name="categories">
                    </fieldset>
                    <hr>
                    <!-- Difficulty section stars -->
                    <h3 class="underlined-text">Difficulty</h3>
                    <p>Select difficulty:</p>
                    <div class="rating" style="text-align: center;">
                      <input name="rating" type="radio" id="extreme-star" onclick="starClick(4)" value="extreme"
                        on="change:rating.submit">
                      <label for="rating4" title="4 stars">☆</label>
                      <input name="rating" type="radio" id="hard-star" onclick="starClick(3)" value="hard"
                        on="change:rating.submit">
                      <label for="rating3" title="4 stars">☆</label>
                      <input name="rating" type="radio" id="medium-star" onclick="starClick(2)" value="medium"
                        on="change:rating.submit">
                      <label for="rating2" title="4 stars">☆</label>
                      <input name="rating" type="radio" id="easy-star" onclick="starClick(1)" value="easy"
                        on="change:rating.submit">
                      <label for="rating1" title="4 stars">☆</label>
                    </div>
                    <div>
                      <p id="extreme-text" hidden>Extreme</p>
                      <p id="hard-text" hidden>Hard</pid="extreme-text">
                        <p id="medium-text" hidden>Medium</p>
                        <p id="easy-text" hidden>Easy</p>
                    </div>
                    <!-- Duration section -->
                    <h3 class="underlined-text">Aproximated time</h3>
                    <select name="duration" class="form-control" id="exampleFormControlSelect1">
                      <option>15m</option>
                      <option>30m</option>
                      <option>45m</option>
                      <option>1h</option>
                      <option>1h 30m</option>
                      <option>2h</option>
                      <option>2h 30m</option>
                      <option>3h</option>
                      <option>4h or more</option>
                    </select>
                  </div>
                </div>
                <button id="post-recipe" type='submit' class="btn btn-primary" style="margin-top: 20px; height: 50px;width: 10%;">
                  Post
                </button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Test JS -->
  <script type="text/javascript">
  $(document).ready(function(){
    var icon = document.getElementById("open-add-button");
    var bgTouch = document.getElementById("opened-add-button");
    var aux = true;
    icon.onclick = function (e) {
      if (aux) {
        icon.style.zIndex = "1051"; //has to be in front of the faded background, this z faded is 1050
        icon.classList.add("rotate45");
        icon.classList.remove("rotate0");
        aux = false;
      } else {
        secondTime();
      }
    }
    function secondTime() {
      icon.style.zIndex = "750";
      icon.classList.add("rotate0");
      icon.classList.remove("rotate45");
      aux = true;
    }
    bgTouch.onclick = secondTime;
  });
  </script>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="../js/jqBootstrapValidation.js"></script>
  <script src="../js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/freelancer.min.js"></script>

  <!-- Add a recipe js -->
  <script src="../js/add_recipe.js"></script>
  <script src="../js/filter_search_btn.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      var aux = false;
      var page_counter = 0;
      var page_size = 2;
      var lastRecipe;
      loadMoreAjax(page_counter, aux, page_size);
      page_counter++;
      $("#loadmore1").click(function () {
        var value = $('#value-input').val();
        document.getElementById("loadmore1").setAttribute("hidden", "");
        $("#loadmore2").removeAttr("hidden");
        loadMoreAjax(page_counter, aux, page_size);
        page_counter++;
      });
      function loadMoreAjax(page_counter, aux, page_size){
        $.ajax({
          url: "http://localhost:8443/recipes", //para filtrar busqueda se añade +value
          data: {
            page: page_counter,
            size: page_size,
          }
        }).done(function (recipes) {
          document.getElementById("loadmore2").setAttribute("hidden", "");
          $("#loadmore1").removeAttr("hidden");
          recipes.forEach(element => {
            var item = Object.values(element);
            lastRecipe =  recipes.length;
            /*
            [0] -> id_recipe
            [1] -> title
            [2] -> description
            [3] -> id_user
            [4] -> username
            [5] -> name
            [6] -> surname
            [7] -> likes
            [8] -> n_comments
            */
            if (aux) {
              $('#recipes-container').append("<div class=\"row\">"
                + "<div class=\"col-md-7\">"
                + "<a href=\"#\">"
                + "<img class=\"img-fluid rounded mb-3 mb-md-0\" src=\"temp/recipes/image-" + Object.values(item)[0] + ".jpg\">"
                + "</a>"
                + "<div class=\"likes-comments-top-left\">"
                + "<div class=\"row\" style=\"margin-right: 0;margin-left: 0;\">"
                + "<div class=\"col-3\">"
                + "<img class=\"icon-fluid\" src=\"../images/icons/like_pressed.png\">"
                + "</div>"
                + "<div class=\"col-3\">"
                + "<p class=\"icon-fluid pub-date-text\">" + Object.values(item)[7] + "</p>"
                + "</div>"
                + "<div class=\"col-3\">"
                + "<img class=\"icon-fluid\" src=\"../images/icons/dialogue.png\">"
                + "</div>"
                + "<div class=\"col-3\">"
                + "<p class=\"icon-fluid pub-date-text\">" + Object.values(item)[8] + "</p>"
                + "</div>"
                + "</div>"
                + "</div>"
                + "<div class=\"bottom-text-image rounded mb-3 mb-md-0\"><h3 style=\"word-break: break-all;\">" + Object.values(item)[1] + "</h3></div>"
                + "</div>"
                + "<div class=\"col-md-4\">"
                + "<h3>Introduction</h3>"
                + "<p style=\"word-break: break-all;\">" + Object.values(item)[2] + "</p>"
                + "<a class=\"btn btn-primary\" href=\"/recipes/" + Object.values(item)[0] + "\">Read"
                + "<span class=\"glyphicon glyphicon-chevron-right\"></span>"
                + "</a>"
                + "</div>"
                + "<div class=\"col-lg-1\" style=\"width:50%;align-self: center;border-left:3px solid rgba(0, 0, 0, 0.2);\">"
                + "<img class=\"d-flex mr-3 rounded-circle profile-border\" style=\"width:100%;height:60px;\" src=\"temp/avatars/image-" + Object.values(item)[3] + ".jpg\">"
                + "<p>@" + Object.values(item)[4] + "</p>"
                + "</div>"
                + "</div>"
                + "<!-- /.row -->"
                + "<hr>"
              );
              aux = false;
            } else {
              $('#recipes-container').append("<div class=\"row\">"
                + "<div class=\"col-lg-1\" style=\"width:50%;align-self: center;border-right:3px solid rgba(0, 0, 0, 0.2);\">"
                + "<img class=\"d-flex mr-3 rounded-circle profile-border\" style=\"width:100%;height:60px;\" src=\"temp/avatars/image-" + Object.values(item)[3] + ".jpg\">"
                + "<p>@" + Object.values(item)[4] + "</p>"
                + "</div>"
                + "<div class=\"col-md-4\">"
                + "<h3>Introduction</h3>"
                + "<p style=\"word-break: break-all;\">" + Object.values(item)[2] + "</p>"
                + "<a class=\"btn btn-primary\" href=\"/recipes/" + Object.values(item)[0] + "\">Read"
                + "<span class=\"glyphicon glyphicon-chevron-right\"></span>"
                + "</a>"
                + "</div>"
                + "<div class=\"col-md-7\">"
                + "<a href=\"#\">"
                + "<img class=\"img-fluid rounded mb-3 mb-md-0\" src=\"temp/recipes/image-" + Object.values(item)[0] + ".jpg\">"
                + "</a>"
                + "<div class=\"likes-comments-top-right\">"
                + "<div class=\"row\" style=\"margin-right: 0;margin-left: 0;\">"
                + "<div class=\"col-3\">"
                + "<img class=\"icon-fluid\" src=\"../images/icons/like_pressed.png\">"
                + "</div>"
                + "<div class=\"col-3\">"
                + "<p class=\"icon-fluid pub-date-text\">" + Object.values(item)[7] + "</p>"
                + "</div>"
                + "<div class=\"col-3\">"
                + "<img class=\"icon-fluid\" src=\"../images/icons/dialogue.png\">"
                + "</div>"
                + "<div class=\"col-3\">"
                + "<p class=\"icon-fluid pub-date-text\">" + Object.values(item)[8] + "</p>"
                + "</div>"
                + "</div>"
                + "</div>"
                + "<div class=\"bottom-text-image rounded mb-3 mb-md-0\"><h3 style=\"word-break: break-all;\">" + Object.values(item)[1] + "</h3></div>"
                + "</div>"
                + "</div>"
                + "<!-- /.row -->"
                + "<hr>"
              );
              aux = true;
            }
          });
          console.log("PAGE COUNTER: " + page_counter);
          console.log("Length: " + "{{size}}");
          if(parseInt(lastRecipe) == 1){
            page_counter = 0;
            document.getElementById("loadmore1").setAttribute("hidden", "");
          }
        });
      }
    });
  </script>
  <!-- Photo selector at add button -->
  <script>
    document.getElementById('file-input').onchange = function (evt) {
      var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
      // FileReader support
      if (FileReader && files && files.length) {
        var fr = new FileReader();
        fr.onload = function () {
          document.getElementById("no-such-image").setAttribute("hidden", "");
          document.getElementById("preview-img-file").removeAttribute("hidden");
          document.getElementById("preview-img-file").src = fr.result;
        }
        fr.readAsDataURL(files[0]);
      }
      // Not supported
      else {
        // fallback -- perhaps submit the input to an iframe and temporarily store
        // them on the server until the user's session ends.
      }
    }
  </script>

</body>

</html>