<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Instarecipes • Ranking</title>
  <!-- Images and icons-->
  <link rel="icon" type="image/png" href="../images/icons/instarecipes.png"/>

  <!-- Custom fonts for this theme -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Theme CSS -->
  <link href="../css/freelancer.css" rel="stylesheet">
  <link href="../css/modern-business.css" rel="stylesheet">

  <!-- Images and icons-->
  <link rel="icon" type="image/png" href="../images/icons/instarecipes.png" />

</head>

<body id="page-top" style="background-size: cover;background: -webkit-radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container" style="margin-left: 30px;">
      <div id="img-navbar-container">
        <img class="img-navbar" src="../images/icons/instarecipes.png" alt="">
      </div>
      <a class="navbar-brand js-scroll-trigger" href="ranking">&nbsp;Instarecipes</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" 
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="margin-right: 20%;">
          <li class="nav-item col-4">
            <a class="nav-link js-scroll-trigger" href="index"><i class="fas fa-home" style="font-size: xx-large;"></i></a>
          </li>
          <li class="nav-item col-4">
            <a class="nav-link" href="profile"><i class="fas fa-user" style="font-size: xx-large;"></i></a>
          </li>
          <li class="nav-item col-4">
            <a class="nav-link" href="#ranking-section"><i class="fas fa-trophy" style="font-size: xx-large;text-align: center;"></i></a>
          </li>
        </ul>
        <form class="example" action="search.html" >
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <div class="login-container">
      {{#logged}}
        <form action="/logout" method="post">
          <button type="submit" class="nav-link nav-log btn-dark" style="color:white;font-weight: normal;font-size: 15px;">Logout</button>
          <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
      {{/logged}}
      {{^logged}}
        <a class="nav-link nav-log" href="login" style="font-weight: normal;font-size: 15px;">Login / Sign Up</a>
      {{/logged}}
    </div>
  </nav>
  
  <header id="ranking-section" class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column p-t-60 p-b-40" >
      <h3 class="text-uppercase mb-0">Top 10 Ranking</h3>
      <table class="table" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 5%;margin-bottom: 10%; border-style: solid; background-color: azure;">
        <thead>
          <!-- <input value="{{rankingList}}" id="rankingList" hidden></input> -->
          <tr style="background-color: #11da2b;">
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Likes</th>
          </tr>
        </thead>
        <tbody id="rankingBody">
          {{#rankingList}}
          <tr style="background-color: #affaa9;">
            <th scope="row">{{-index}}</th>
            {{#.}}
            <td> {{.}}</td>
            {{/.}}
            <!-- <td>{{.}}</td> -->
          </tr>
          {{/rankingList}}
        </tbody>
      </table>
    </div>
  </header>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Instarecipes 2020</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="../js/jqBootstrapValidation.js"></script>
  <script src="../js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../js/freelancer.min.js"></script>

</body>

</html>