<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div id="more-recipes">
        <div class=\"row\">"
            <div class=\"col-lg-1\" style=\"width:50%;align-self: center;border-right:3px solid rgba(0, 0, 0, 0.2);\">
                <img class=\"d-flex mr-3 rounded-circle profile-border\" src=\"../images/icons/avatar.svg\">
            </div>
            <div class=\"col-md-4\">
                <h3>Introduction</h3>
                <p style=\"word-break: break-all;\">{{description}}</p>
                <a class=\"btn btn-primary\" href=\"#\">Read
                    <span class=\"glyphicon glyphicon-chevron-right\"></span>
                </a>
            </div>
            <div class=\"col-md-7\">
                <a href=\"#\">
                    <img class=\"img-fluid rounded mb-3 mb-md-0\" src=\"../images/Recipes/recipe_example_4.jpg\">
                </a>
                <div class=\"likes-comments-top-right\">
                    <div class=\"row\" style=\"margin-right: 0;margin-left: 0;\">
                        <div class=\"col-3\">
                            <img class=\"icon-fluid\" src=\"../images/icons/like_pressed.png\">
                        </div>
                        <div class=\"col-3\">
                            <p class=\"icon-fluid pub-date-text\">84</p>
                        </div>
                        <div class=\"col-3\">
                            <img class=\"icon-fluid\" src=\"../images/icons/dialogue.png\">
                        </div>
                        <div class=\"col-3\">
                            <p class=\"icon-fluid pub-date-text\">203</p>
                        </div>
                    </div>
                </div>
                <div class=\"bottom-text-image rounded mb-3 mb-md-0\">
                    <h3 style=\"word-break: break-all;\">{{title}}</h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>