<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Instarecipes</title>
  <link rel="icon" type="image/png" href="images/icons/instarecipes.png"/>
   <!-- Fonts-->
   <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="css/searchfile.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="css/freelancer.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container" style="margin-left: 30px;">
      <div id="img-navbar-container">
        <img class="img-navbar" src="images/icons/instarecipes.png" alt="">
      </div>
      <a class="navbar-brand js-scroll-trigger" href="/" style="font-family: 'Pacifico';">&nbsp;Instarecipes</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" 
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="margin-right: 30%;">
         
          <li class="nav-item col-2" style="max-width: 100%;">
            <a class="nav-link" href="/"><i class="fas fa-home" style="font-size: xx-large;"></i></a>
          </li>
          <li class="nav-item col-2" style="max-width: 100%;">
            {{#logged}}
            <a class="nav-link" href="profile"><i class="fas fa-user" style="font-size: xx-large;"></i></a>
            {{/logged}}
          </li>
          <li class="nav-item col-2" style="max-width: 100%;">
            <a class="nav-link" href="ranking"><i class="fas fa-trophy" style="font-size: xx-large;"></i></a>
          </li>
        </ul>

        <form class="example" action="/searchBar" method="POST">
          {{^searchByButton}}
          <input type="text" placeholder="Search.." name="search" value="{{searchText}}">
          {{/searchByButton}}
          {{#searchByButton}}
          <input type="text" placeholder="Search.." name="search">
          {{/searchByButton}}
          <button type="submit" style="background-color: rgba(159, 193, 255, 0.726);">
            <i class="fa fa-search" ></i>
            <input type="hidden" name="_csrf" value="{{token}}"/>
          </button>
      </form>
      </div>
    </div>
    <div class="login-container">
      {{#logged}}
        <form action="/logout" method="post">
          <button type="submit" class="nav-link nav-log btn-dark" style="color:white;font-weight: normal;font-size: 15px;">Logout</button>
          <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
      {{/logged}}
      {{^logged}}
        <a class="nav-link nav-log" href="login" style="font-weight: normal;font-size: 15px;">Login / Sign Up</a>
      {{/logged}}
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="margin-top: 5%;">

    <!-- Page Heading/Breadcrumbs -->
    <h4 class="mt-4 mb-3">Search
      <small>results</small>
    </h4>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">Search</li>
    </ol>
    
    <div class="row">
      <!-- Sidebar Widgets Column -->

      {{#searchByButton}}
      <div class="col-4">
        <!-- Categories and Cooking Style Widget -->
        <div class="card my-4">
          <h6 class="card-header">Ingredients</h6>
          <div class="containersearch">
            <ul class="ks-cboxtags">
              {{#ingredients}}
                <li><input  class="toCheck" type="checkbox" value="{{.}}"><label>{{.}}</label></li> 
              {{/ingredients}}
              {{#allIngredients}}
                <li><input type="checkbox" value="{{ingredient}}"><label>{{ingredient}}</label></li> 
              {{/allIngredients}}
            </ul>
          </div>
        </div>
        <div class="card my-4">
          <h6 class="card-header">Free allergens</h6>
          <div class="containersearch">
            <ul class="ks-cboxtags">
              {{#allergens}}
                <li><input  class="toCheck" type="checkbox" value="{{.}}"><label>{{.}}</label></li> 
              {{/allergens}}
              {{#allAllergens}}
                <li><input type="checkbox" value="{{allergen}}"><label>{{allergen}}</label></li> 
              {{/allAllergens}}
            </ul>
          </div>
        </div>
        <div class="card my-4">
          <h5 class="card-header">Cooking Style</h5>
            <div class="containersearch">
              <ul class="ks-cboxtags">
                {{#cookingStyles}}
                  <li><input class="toCheck" type="checkbox" value="{{.}}"><label>{{.}}</label></li> 
                {{/cookingStyles}}
                {{#allCookingStyles}}
                  <li><input type="checkbox" value="{{cookingStyle}}"><label>{{cookingStyle}}</label></li> 
                {{/allCookingStyles}}
            </ul>
          </div>
        </div>
        <div class="card my-4"> 
          <h5 class="card-header">Categories</h5>
          <div class="containersearch">
            <ul class="ks-cboxtags">
              {{#categories}}
                <li><input class="toCheck" type="checkbox" value="{{.}}"><label>{{.}}</label></li>
              {{/categories}}
              {{#allCategories}}
                <li><input type="checkbox" value="{{category}}"><label>{{category}}</label></li> 
              {{/allCategories}}
            </ul>
          </div>       
        </div>
         <!-- Button Filter Widget -->
        <div class="card-body">
          <div class="input-group">
            <button class="btn btn-secondary" style="width: 100%;" type="button">FILTER</button>
          </div>
        </div>
      </div>
      {{/searchByButton}}
      
      {{^searchByButton}}
      <div class="col-2"></div>
      {{/searchByButton}}

      <!-- Recipes Entries Column -->
      {{^searchByButton}}
      <div class="row">
      {{/searchByButton}}
      {{#searchByButton}}
      <div class="col-md-8">
      {{/searchByButton}}
        {{#notFound}}
          <h1 style="color: rgba(0, 0, 0, 0.7);">Your search did not match any recipes.</h1>
          <h3>Try it with another filters!</h3>
        {{/notFound}}
        {{^notFound}}
          {{#recipesFound}}
          <!-- Recipe Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="/temp/recipes/image-{{id}}.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{title}}</h2>
              <p class="card-text">{{description}}</p>
              <div class="row">
                <div class="col-2" style="align-self: flex-end;">
                  <img class="d-flex mr-3 rounded-circle profile-border\" src="/temp/avatars/image-{{username.id}}.jpg">
                </div>
                <div class="col-4" style="align-self: flex-end;">
                  <h5>{{username.name}}&nbsp;{{username.surname}}</h5>
                  <p>@{{username.username}}</p>
                </div>
                <div class="col-4 scrolling" style="align-self: flex-end;height: 100px;">
                  <p style="background-color: rgba(127, 255, 212, 0.2);border-radius: 0.8rem;"><strong>Ingredients:</strong>&nbsp;{{#ingredients}}{{ingredient}}, {{/ingredients}}..</p>
                  <p style="background-color: rgba(171, 255, 46, 0.2);border-radius: 0.8rem;"><strong>Allergens:</strong>&nbsp;{{#allergens}}{{allergen}}, {{/allergens}}..</p>
                  <p style="background-color: rgba(191, 191, 191, 0.3);border-radius: 0.8rem;"><strong>Cooking Styles:</strong>&nbsp;{{#cookingStyles}}{{cookingStyle}}, {{/cookingStyles}}..</p>
                  <p style="background-color: rgba(255, 185, 127, 0.3);border-radius: 0.8rem;"><strong>Categories:</strong>&nbsp;{{#categories}}{{category}}, {{/categories}}..</p>
                </div>
                <div class="col-2" style="align-self: flex-end;">
                  <a href="/recipes/{{id}}" class="btn btn-primary">Try &rarr;</a>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              Posted on 17/01/2020
            </div>
          </div>
          {{/recipesFound}}
        {{/notFound}}
      </div>

      <!-- Users Entries Column -->
      <div class="col-md-8">
        {{#notUsersFound}}
          <h1 style="color: rgba(0, 0, 0, 0.7);">Your search did not match any users.</h1>
          <h3>Try it with another one!</h3>
        {{/notUsersFound}}
        {{^notUsersFound}}
        {{#usersFound}}
        <!-- Recipe Post -->
        <div class="card mb-2">
          <div class="row">
            <div class="col-4" style="text-align: center; align-self: center; overflow-wrap: break-word;">
              <h5>{{info}}&nbsp;</h5>
            </div>
            <div class="col-4" style="text-align: center; align-self: center;">
              <h5>{{name}}&nbsp;{{surname}}</h5>
              <p><a href="/users/{{id}}">@{{username}}</a></p>
            </div>
            <img class="d-flex mr-3 rounded-circle profile-border\" src="/temp/avatars/image-{{id}}.jpg" style="align-self: center;">
          </div>
        </div>
        {{/usersFound}}
        {{/notUsersFound}}
      </div>

    <!-- /.row -->
  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
  <script src="js/search.js"></script>
</body>

</html>
