<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Instarecipes</title>
  <link rel="icon" type="image/png" href="images/icons/instarecipes.png"/>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="css/searchfile.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="css/freelancer.css" rel="stylesheet">
 

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container" style="margin-left: 30px;">
      <div id="img-navbar-container">
        <img class="img-navbar" src="images/icons/instarecipes.png" alt="">
      </div>
      <a class="navbar-brand js-scroll-trigger" href="../templates/index.html">&nbsp;Instarecipes</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" 
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="margin-right: 20%;">
          <li class="nav-item col-4">
            <a class="nav-link" href="../templates/index.html"><i class="fas fa-home" style="font-size: xx-large;"></i></a>
          </li>
          <li class="nav-item col-4">
            <a class="nav-link" href="../templates/profile.html"><i class="fas fa-user" style="font-size: xx-large;"></i></a>
          </li>
          <li class="nav-item col-4">
              <a class="nav-link" href="../templates/ranking.html"><i class="fas fa-trophy" style="font-size: xx-large;"></i></a>
          </li>
        </ul>
        <form class="example" action="../templates/search-page.html" >
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <div class="login-container">
      {{#logged}}
        <form action="/logout" method="post">
          <button type="submit" class="nav-link nav-log btn-dark" style="color:white;font-weight: normal;font-size: 15px;">Logout</button>
          <input type="hidden" name="_csrf" value="{{token}}"/>
        </form>
      {{/logged}}
      {{^logged}}
        <a class="nav-link nav-log" href="login" style="font-weight: normal;font-size: 15px;">Login / Sign Up</a>
      {{/logged}}
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" style="margin-top: 5%;">

    <!-- Page Heading/Breadcrumbs -->
    <h4 class="mt-4 mb-3">Search
      <small>results</small>
    </h4>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="../templates/index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Search</li>
    </ol>

    <div class="row">

      <!-- Sidebar Widgets Column -->
      <div class="col-4">

        <!-- Search Widget
        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div> -->

        <!-- Categories and Cooking Style Widget -->
        
        <div class="card my-4">
          <h5 class="card-header">Cooking Style</h5>
            <div class="containersearch">
              <ul class="ks-cboxtags">
                {{#cookingStyles}}
                  <li><input class="toCheck" type="checkbox" value="{{.}}"><label>{{.}}</label></li> 
                {{/cookingStyles}}
                {{#allCookingStyles}}
                  <li><input type="checkbox" value="{{cookingStyle}}"><label>{{cookingStyle}}</label></li> 
                {{/allCookingStyles}}
            </ul>
          </div>
        </div>
        <div class="card my-4"> 
          <h5 class="card-header">Categories</h5>
          <div class="containersearch">
            <ul class="ks-cboxtags">
              {{#categories}}
                <li><input class="toCheck" type="checkbox" value="{{.}}"><label>{{.}}</label></li>
              {{/categories}}
              {{#allCategories}}
                <li><input type="checkbox" value="{{category}}"><label>{{category}}</label></li> 
              {{/allCategories}}
            </ul>
          </div>       
        </div>
      </div>
      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="images/Recipes/chicken_potatoes_recipe.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="images/Recipes/recipe_example_6.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="images/Recipes/recipe_example_7.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Post Title</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
  <script src="js/search-page.js"></script>
</body>

</html>
